PORT=5000
NODE_ENV=development
MONGODB_URI="mongodb+srv://mehnaz62844_db_user:5Qyw5z45AVDXS0mQ@cluster0.s41svl0.mongodb.net/"
JWT_SECRET="9fA7!kZ2@QmR8L#XcP4wE$HjU6%T^bS&Y"
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
